body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header{
	margin: 0;
	padding: 0;
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 100vh;
	
}

.container{
	width: 880px;
	padding: 0;
	margin: 0;
	margin: 0 auto;
}

.clearfix:after{
	content: " ";
	display: table;
	width: 100%;
	clear: both;
	
}

div{
	box-sizing: border-box;
}
.logo{
	margin-top: 41px;
	float: left;
}
nav{
	float:right;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
}


.menu li{
	float: left;
	display: block;
	font-family: sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 41px;
	margin-top: 50px;
}
.menu a{
	color: white;
	text-decoration: none;
}

.title_first{
	color: white;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-top: 120px;
}
H1{
	color: white;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 62px;
	margin: 15px 0 15px 0;
}

.button{
	background: #FED136;
	font-family: Arial, sans-serif;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 0;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	border-radius: 3px;
	margin: 0 auto;
	display: block;
	width:240px;
	margin-top: 50px;
}

.title h2{
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: black;
	text-transform: uppercase;
	margin: 0;
}

.title p{
	font-family: Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	color: black;
	margin-top: 5px;
}

.title {
	text-align: center;
	padding-top: 110px;
}

.services{
	margin-top: 50px;
}


.service_item{
	width: 260px;
	float: left;
	text-align: center;
}
.service_item h3{
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
}

.service_item p{
	font-style: italic;
	font-size: 14px;
	line-height: 1.55em;
}

.service_item:last-child{
	float: right;
}

.service_item:nth-child(2){
	margin-left: 52px;
}

#portfolio{
	background: #F7F7F7;
	padding-bottom: 120px;
}

#services{
	padding-bottom: 120px;
}

#aboutus{
	padding-bottom: 85px;
}
.aboutLeft{
	width: 530px;
	text-align: right;
	margin-top: 85px;
	float: left;
}
.aboutLeft p{
	font-size: 14px;
}
.aboutLeft img{
	float: right;
	margin-left: 40px;
}
.aboutLeft h3{
	
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.upper{
	text-transform: uppercase;
}

.aboutRight{
	width: 530px;
	text-align: left;
	margin-top: 85px;
	float: right;
}
.alr{
	float: right;
	width: 310px;
}
.alr h3{
	padding: 0;
	margin: 0;
	font-size: 18px;
}

.alr p{
	font-size: 14px;
}

#footer{
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	background: #F7F7F7;
	padding: 10px;
}

@media (max-width :840px){
	.container{
		width: 700px;
	}
	
	.service_item{
		float: none;
		margin: 0 auto;
	}
	
	.service_item:last-child{
		float: none;
		margin: 0 auto;
	}

	.service_item:nth-child(2){
		margin-left: 0;
		margin: 0 auto;
	}
}

@media (min-width: 375px) and (min-height: 812px) and (-webkit-device-pixel-ratio: 3){
	
	.container{
		width: 800px;
	}
	
	.service_item{
		float: none;
		margin: 0 auto;
		padding-bottom: 40px;
	}
	
	.service_item:last-child{
		float: none;
		margin: 0 auto;
	}

	.service_item:nth-child(2){
		margin-left: 0;
		margin: 0 auto;
	}
	
	header{
	margin: 0;
	padding: 0;
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 100vh;
	
}
	nav{
		display: none;
	}
	
	.aboutLeft p{
		font-size: 10px;
	}
	
	.button{
		margin-top: 500px;
	}
	.logo{
		float: none;
		margin-left: 300px;
		width: 200px;
	}
	
}